.profile-menu {
    display: flex;
    flex-wrap: wrap;
    width: 700px !important;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%) translateY(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fafafa;
    box-shadow: 1px 2px 5px #aaa;
    padding-bottom: 20px;
}

.profile-overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.1;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.hide {
    display: none !important;
}

.profile-menu h4 {
    padding: 10px 20px; 
    text-align: center;
}
/* 
.profile-menu .row {
    margin-left: 20px;
    margin-right: 20px;
} */

.profile-menu .row {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.profile-menu .col1 {
    width: 8.33%;
}
.profile-menu .col2 {
    width: 16.67%;
}
.profile-menu .col3 {
    width: 25%;
}
.profile-menu .col4 {
    width: 33.33%;
}
.profile-menu .col5 {
    width: 41.66%;
}
.profile-menu .col6 {
    width: 50%;
}
.profile-menu .col8 {
    width: 66.66%;
}
.profile-menu .col9 {
    width: 75%;
}
.profile-menu .col12 {
    width: 100%;
}

.profile-menu .input-field {
    padding: 10px 0;
}

.profile-menu select{
    width: 100%;
}

.profile-menu .profile-close {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.profile-menu .clear-all {
    cursor: pointer;
    font-size: 20px; 
    position: relative; 
    top: 2px; 
}

.profile-menu .button {
    padding: 5px 20px;
    box-shadow: 0px 1px 2px #888;
    background-color: #222;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 0;
    cursor: pointer;
}

.profile-menu input[type="text"] {
    width: 70%;
}

.profile-menu i.icon-btn{
    font-size: 1rem;
    cursor: pointer;
    position: relative; 
    top: 3px; 
}

.no-padding{
    padding: 0px !important;
}

.context-menu {
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    width: 150px !important;
    z-index: 999;
    overflow-x: hidden;
    background-color: #242424;
    color: #f5f5f5;
    position: absolute;
}

.context-menu ul{
    list-style: none;
    width: 100%;
}
.context-menu ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #b0b0b0;
}