.profile-menu * {
    color:black;
    font-size: 13px !important;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
}

.profile-menu input {
    background-color: white !important;
    border: 1px solid #cdcdcd !important;
    display: flex;
}

.profile-menu {
    display: flex;
    flex-wrap: wrap;
    width: 700px !important;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2147483647;  /* highest value possible */
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    background-color: #fafafa;
    box-shadow: 1px 2px 5px #aaa;
    padding: 0 0 20px 0;
}

.profile-menu .material-icons {
    color: rgb(2, 136, 209);
    font-size: 20px !important;
    font-family: 'Material Icons' !important;
}

.profile-overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.1;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2147483646; /* highest value possible minus one */
}

.hide {
    display: none !important;
}

.profile-menu h4 {
    padding: 10px 20px; 
    text-align: center;
    font-size: 16px !important;
    margin: 0;
}
/* 
.profile-menu .row {
    margin-left: 20px;
    margin-right: 20px;
} */

.profile-menu .row {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.profile-menu .col1 {
    width: 8.33%;
}
.profile-menu .col2 {
    width: 16.67%;
}
.profile-menu .col3 {
    width: 25%;
}
.profile-menu .col4 {
    width: 33.33%;
}
.profile-menu .col5 {
    width: 41.66%;
}
.profile-menu .col6 {
    width: 50%;
}
.profile-menu .col8 {
    width: 66.66%;
}
.profile-menu .col9 {
    width: 75%;
}
.profile-menu .col12 {
    width: 100%;
}

.profile-menu .flex-row {
    padding: 10px 0;
    font-size: 13px !important;
    display: flex;
}

.profile-menu select{
    width: 100%;
}

.profile-menu .profile-close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    color: black;
}

.profile-menu .clear-all {
    cursor: pointer;
    font-size: 16px !important; 
    position: relative; 
    top: 2px; 
}

.profile-menu .button {
    padding: 5px 20px;
    box-shadow: 0px 1px 2px #888;
    background-color: #222;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 0;
    cursor: pointer;
    width: 130px;
    height: 30px;
    line-height: normal !important;
}

.profile-menu input[type="text"],
.profile-menu input[type="number"] {
    width: 70%;
}

.profile-menu input[type="checkbox"] {
    height: 13px !important;
    width: 13px !important;
    display: inline-block !important;
    cursor: pointer;
    appearance: auto !important;
}

.profile-menu i.icon-btn{
    font-size: 16px !important;
    cursor: pointer;
    position: relative; 
    top: 3px; 
}

.no-padding{
    padding: 0px !important;
}

.profile-menu .flex-nowrap {
    display: flex !important;
    flex-wrap: nowrap;
}

.context-menu {
    display: flex;
    font-size: 12px !important;
    flex-wrap: wrap;
    width: 160px !important;
    z-index: 2147483647; /* highest value possible */
    overflow-x: hidden;
    background-color: #242424 !important;
    color: #f5f5f5 !important;
    position: absolute;
}

.context-menu * {
    font-size: 13px !important;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
}

.context-menu ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.context-menu ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #b0b0b0;
}